{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% extends "./layout.njk" %}

{% set pageTitle = 'Appointment details' %}

{% block headerCallToAction %}
  <div class="govuk-button-group">
    {% if processTravelTimePath %}
      {{ govukButton({
        text: "Process travel time",
        href: processTravelTimePath,
        classes: "govuk-button--secondary"
      }) }}
    {% endif %}
    {{ govukButton({
      text: "Update appointment",
      href: nextPath
    }) }}
  </div>
{% endblock %}

{% block formHeader %}
  <div class="govuk-grid-row">
    {% if showProcessTravelTimeAlert %}
      <div class="govuk-grid-column-full">
        {{ mojAlert({
          variant: "warning",
          title: "Travel time for this appointment must be added in nDelius.",
          dismissible: false        }) }}
      </div>
    {% endif %}

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">{{ pageTitle }}</h2>
    </div>
  </div>
{% endblock %}

{% block beforeForm %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if showMissingOutcomeMessage %}
        {% set messageHtml = 'Outcome not recorded. <a href="' + nextPath + '">Update appointment</a>.' %}
        {{ govukWarningText({
          html: messageHtml,
          iconFallbackText: "Warning"
        }) }}
      {% endif %}
      {% if contactOutcome %}
        {% set tagClasses = contactOutcome.tagClass + ' cpb-unset-max-width govuk-!-margin-top-4 govuk-!-margin-bottom-4' %}
        {{ govukTag({
          classes: tagClasses,
          text: contactOutcome.name
        }) }}
      {% endif %}
      {{ govukSummaryList({
        card: {
          title: {
            text: 'Project details',
            headingLevel: 3
          }
        },
        rows: projectItems
      }) }}
    </div>
  </div>

  {% if timeItems.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukSummaryList({
          card: {
            title: {
              text: 'Hours detail',
              headingLevel: 3
            }
          },
          rows: timeItems
        }) }}
      </div>
    </div>
  {% endif %}

  {% if complianceItems.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukSummaryList({
          card: {
            title: {
              text: 'Compliance details',
              headingLevel: 3
            }
          },
          rows: complianceItems
        }) }}
      </div>
    </div>
  {% endif %}

  {% if appointmentItems.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukSummaryList({
          card: {
            title: {
              text: 'Notes',
              headingLevel: 3
            }
          },
          rows: appointmentItems
        }) }}
      </div>
    </div>
  {% endif %}

  {% if sharedItems.length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukSummaryList({
          card: {
            title: {
              text: 'Shared information',
              headingLevel: 3
            }
          },
          rows: sharedItems
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block form %}
{% endblock %}
